name: CodeClimate Test Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.6

      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -Ur requirements.txt
          pip install -Ur requirements/tests.txt
          pip install -Ur requirements/injection.txt
          pip install coverage codeclimate-test-reporter

      - name: Run tests with coverage
        run: |
          coverage run -m pytest ./tests

      - name: Generate coverage report
        run: |
          coverage xml

      - name: Upload coverage report to CodeClimate
        run: |
          codeclimate-test-reporter
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_ID }}
